@font-face {
    font-family: 'Programecho';
    src: url(../fonts/Programecho.ttf);
}

.font-programecho {
    font-family: 'Programecho';
    font-weight: bold;
}

.font-white {
    color: white;
}

.font-x-large {
    font-size: 3rem;
}

.text-upper {
    text-transform: uppercase;
}


/** contact section **/

.contact {
    margin: 5.5rem 0;
}

.contact .titlepage {
    text-align: left;
}

.contact-info {
    color: #fff;
    font-size: 15px;
}

.contact-info i {
    font-size: 17px;
    padding-right: 14px;
}

.contact-info a {
    color: #fff;
}

.contact-info a:hover {
    color: #9c8a8a;
}


.main-form {
    border-radius: 2rem;
    padding: 1.5rem 1.5rem;
    background: #161825;
    filter: opacity(80%);
    box-shadow: 0 0 250px rgba(3, 3, 3, 0.15);
}

.main-form .contactus {
    border: #fff solid 1px;
    padding: 0px 20px;
    width: 100%;
    height: 3rem;
    background: #fff;
    color: #000;
    font-size: 17px;
    font-weight: normal;
    box-shadow: 0px 0px 18px rgba(22, 22, 23, 0.11);
}

.main-form .textarea {
    border: #fff solid 1px;
    width: 100%;
    background: #fff;
    color: #000;
    font-size: 1rem;
    font-weight: normal;
    padding: 1.5rem 20px 0 20px;
    box-shadow: 0px 0px 18px rgba(22, 22, 23, 0.11);
    height: 5rem;
}

.btn-send {
    font-size: 20px;
    transition: ease-in all 0.5s;
    background-color: #fff;
    text-transform: uppercase;
    color: #000;
    padding: 8px 0px;
    max-width: 144px;
    width: 100%;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.btn-send:hover {
    background-color: #161825;
    transition: ease-in all 0.5s;
    color: #fff;
}

.contact-bottom {
    background-color: #161825;
    padding: 1.5rem;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
}

/*-- header --*/

.header {
    width: 100%;
    height: rem;
    position: fixed;
    z-index: 100000000;
    margin: 0;
    padding: 0;
}

.header-top {
    background-color: #161825;
    padding: 0.7rem 0;
}


.header-bottom {
    background-color: #fff;
    height: 100px;
    padding: 1.5rem;
    margin: 0 3rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}


/*---------------------------- preloader area ----------------------------*/

.loader-bg {
    position: fixed;
    z-index: 9999999;
    background: #fff;
    width: 100%;
    height: 100%;
}

.loader {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader img {
    width: 280px;
}


/*  */

.full-bg {
    background: url(../images/banner3.png);
    filter: brightness(40%) opacity(90%);
    backface-visibility: hidden;
    background-size: 100% 100%;
    background-position: fixed;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    position: fixed;
    z-index: -1;
}



/** banner section **/

.banner-main {
    position: relative;
}

.banner-post {
    position: inherit;
}

.build-box {
    position: relative;
    text-align: left;
    padding-top: 20%;
}


.build-box p {
    color: #ddd;
    font-size: 17px;
    line-height: 30px;
    font-weight: normal;
    margin-bottom: 55px;
}

.build-box h1 {
    padding-top: 100px;
    font-size: 100px;
    font-weight: bold;
    color: #ddd;
    line-height: 90px;
    padding-bottom: 20px;
    display: block;
}

.build-box .conatct-btn {
    font-size: 20px;
    padding: 15px 0;
    color: #161825;
    text-transform: uppercase;
    font-weight: normal;
    max-width: 278px;
    background: #ddd;
}

.build-box .conatct-btn:hover {
    background: #1b1b1a;
}

#mainCarousel .carousel-control-prev,
#mainCarousel .carousel-control-next {
    width: 75px;
    height: 75px;
    background: #161825;
    opacity: 1;
    font-size: 42px;
    color: #161825;
    top: 134%;
    border-radius: 40px;
}

#mainCarousel .carousel-control-prev:hover,
#mainCarousel .carousel-control-next:hover,
#mainCarousel .carousel-control-prev:focus,
#mainCarousel .carousel-control-next:focus {
    background: #161825;
    color: #fff;
}

#mainCarousel .carousel-control-prev {
    right: 15%;
    left: inherit;
}

#mainCarousel .carousel-control-next {
    right: 9%;
}


.banner .carousel-indicators {
    display: none;
}


/** end banner section **/


.read-more {
    font-size: 17px;
    background-color: #ddd;
    color: #161825;
    padding: 17px 0px;
    width: 100%;
    max-width: 186px;
    text-align: center;
    display: inline-block;
    transition: ease-in all 0.5s;
    font-weight: 500;
    border-radius: 5px;
    height: 60px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.read-more:hover {
    background: #161825;
    color: #dadada;
    transition: ease-in all 0.5s;

}


/** about section **/

.about {
    background-color: #161825;
    filter: opacity(80%);
    border-radius: 2rem;
    color: #ddd;
    padding: 1.5rem;
    margin-top: 5.5rem;
}

.about .titlepage {
    max-width: 666px;
    width: 100%;
    text-align: left;
    color: #ddd;
    padding: 0;
}

.about .titlepage span {
    font-family: 'Raleway', sans-serif;
    color: #ddd;
    padding-bottom: 0;
    padding-top: 3rem;
}

.about-img {
    filter: opacity(100%);
}

.about-img figure {
    margin: 0;
}

.about-img figure img {
    width: 100%;
}


/** end about section **/