
/** projects section **/

.projects {
     padding-top: 0px;
     margin: 25px 25px;
}

.relative3 {
     position: inherit;
     padding-bottom: 130px;
}

.projects_ban {
     padding: 0 20px;
}

.project_img figure {
     margin: 0;
}

.project_img figure img {
     width: 100%;
     filter: grayscale(10%) brightness(70%);
     border-radius: 4%;
}

.project_text {
     position: absolute;
     bottom: 10px;
     color: #000;
     height: 123px;
     overflow: hidden;
     padding: 20px 20px 20px 20px;
     margin-right: 15px;
     transition: ease-in all 0.5s;
}



.project_text::before {
     position: absolute;
     color: #000;
     bottom: 10;
     width: 77px;
     height: 77px;
     top: 0;
     background-repeat: no-repeat;
     right: 10px;
}


.project_text:hover {
     cursor: pointer;
     background-color: #fffffff2;
     height: 303px;
     transition: ease-in all 0.5s;
}

#pro_ho:hover.project_text h3 {
     visibility: inherit;
     color: #1b1a1a;
     transition: ease-in all 0.5s;
     padding-top: 20px;
}

.project_text h3 {

     transition: ease-in all 0.5s;
     color: #000;
     text-align: left;
     display: block;
     font-size: 28px;
     /*font-weight: 500;*/
     font-weight: bold;
     padding-bottom: 35px;
     font-family: 'Raleway', sans-serif;
}

.project_text p {
     color: #1b1a1a;
     font-size: 17px;
     text-align: left;
     line-height: 28px;
     font-family: 'Raleway', sans-serif;
     font-weight: normal;
}

.carousel-indicators {
     display: none;
}


